##### GLOBAL #####

variable "timezone" {
    sensitive = true
    type      = string
    default   = "Etc/UTC"
}

##### DASHY #####

variable "dashy_apikey" {
    sensitive = true
    type      = string
    default   = "efdbade728b37086877a5e83442004db"
}

variable "dashy_city" {
    sensitive = true
    type      = string
    default   = "London"
}

variable "dashy_config_host_path" {
    type    = string
    default = "/root"
}

variable "dashy_container_name" {
    type    = string
    default = "my-dashboard"
}

variable "dashy_description" {
    type    = string
    default = "Welcome to your new dashboard!"
}

variable "dashy_external_port" {
    type    = number
    default = 8080
}

variable "dashy_theme" {
    type    = string
    default = "colorful"
}

variable "dashy_title" {
    type    = string
    default = "Dashy"
}

variable "dashy_units" {
    type    = string
    default = "metric"
}

variable "dashy_version" {
    type    = string
    default = "latest"
}

##### DOKUWIKI #####

variable "dokuwiki_config_host_path" {
    type    = string
    default = "/docker/dokuwiki/config"
}

variable "dokuwiki_container_name" {
    type    = string
    default = "dokuwiki"
}

variable "dokuwiki_external_port" {
    type    = number
    default = "20001"
}

variable "dokuwiki_pgid" {
    type    = number
    default = "2000"
}

variable "dokuwiki_puid" {
    type    = number
    default = "2000"
}

variable "dokuwiki_template" {
    type    = string
    default = "dokuwiki"
}

variable "dokuwiki_title" {
    type    = string
    default = "Daily Journal"
}

variable "dokuwiki_version" {
    type    = string
    default = "latest"
}

##### DUPLICATI #####

variable "duplicati_backups_host_path" {
    type    = string
    default = "/path/to/backups"
}

variable "duplicati_cli_args" {
    type    = string
    default = ""
}

variable "duplicati_config_host_path" {
    type    = string
    default = "/path/to/appdata/config"
}

variable "duplicati_container_name" {
    type    = string
    default = "duplicati"
}

variable "duplicati_external_port" {
    type    = number
    default = "8200"
}

variable "duplicati_pgid" {
    type    = number
    default = "1000"
}

variable "duplicati_puid" {
    type    = number
    default = "1000"
}

variable "duplicati_source_host_path" {
    type    = string
    default = "/path/to/source"
}

variable "duplicati_version" {
    type    = string
    default = "latest"
}

##### FRESHRSS #####

variable "freshrss_config_host_path" {
    type    = string
    default = "/docker/config"
}

variable "freshrss_container_name" {
    type    = string
    default = "freshrss"
}

variable "freshrss_external_port" {
    type    = number
    default = "80"
}

variable "freshrss_pgid" {
    type    = number
    default = "2000"
}

variable "freshrss_puid" {
    type    = number
    default = "2000"
}

variable "freshrss_version" {
    type    = string
    default = "latest"
}

##### GRAFANA #####

variable "grafana_config_host_path" {
    type    = string
    default = "/docker/grafana/config"
}

variable "grafana_container_name" {
    type    = string
    default = "/docker/grafana/config"
}

variable "grafana_external_port" {
    type    = number
    default = "20005"
}

variable "grafana_ini_file" {
    type    = string
    default = "/var/lib/grafana/grafana.ini"
}

variable "grafana_log_mode" {
    type    = string
    default = "console file"
}

variable "grafana_postgres_host" {
    type    = string
    default = "database.local:5432"
}

variable "grafana_postgres_name" {
    type    = string
    default = "grafana"
}

variable "grafana_postgres_password" {
    sensitive = true
    type      = string
    default   = "excellent-dashing-forever"
}

variable "grafana_postgres_user" {
    type    = string
    default = "grafana"
}

variable "grafana_version" {
    type    = string
    default = "10.2.2"
}

##### HOMEASSISTANT #####

variable "homeassistant_config_host_path" {
    sensitive = true
    type      = string
    default   = "/docker/homeassistant/config"
}

variable "homeassistant_container_name" {
    type    = string
    default = "homeassistant"
}

variable "homeassistant_device_tracker_01_host" {
    sensitive = true
    type      = string
    default   = "10.0.0.1"
}

variable "homeassistant_device_tracker_01_username" {
    sensitive = true
    type      = string
    default   = "root"
}

variable "homeassistant_device_tracker_01_password" {
    sensitive = true
    type      = string
    default   = "WiNTERMUTE!1"
}

variable "homeassistant_device_tracker_02_host" {
    sensitive = true
    type      = string
    default   = "10.0.0.2"
}

variable "homeassistant_device_tracker_02_username" {
    sensitive = true
    type      = string
    default   = "root"
}

variable "homeassistant_device_tracker_02_password" {
    sensitive = true
    type      = string
    default   = "WiNTERMUTE!1"
}

variable "homeassistant_media_player_host" {
    type    = string
    default = "10.0.0.3"
}

variable "homeassistant_external_port" {
    type    = number
    default = "8123"
}

variable "homeassistant_version" {
    type    = string
    default = "latest"
}

##### JELLYFIN #####

variable "jellyfin_cache_host_path" {
    type    = string
    default = "/docker/jellyfin/cache"
}

variable "jellyfin_config_host_path" {
    type    = string
    default = "/docker/jellyfin/config"
}

variable "jellyfin_container_name" {
    type    = string
    default = "jellyfin"
}

variable "jellyfin_external_port" {
    type    = number
    default = "8096"
}

variable "jellyfin_media_container_path" {
    type    = string
    default = "/media"
}

variable "jellyfin_media_host_path" {
    type    = string
    default = "/nfs"
}

variable "jellyfin_version" {
    type    = string
    default = "latest"
}
##### NEXTCLOUD #####

variable "nextcloud_config_host_path" {
    type    = string
    default = "/docker/nextcloud/config"
}

variable "nextcloud_container_name" {
    type    = string
    default = "nextcloud"
}

variable "nextcloud_data_host_path" {
    type    = string
    default = "/docker/nextcloud/data"
}

variable "nextcloud_external_port" {
    type    = number
    default = "8888"
}

variable "nextcloud_nfs_host_path" {
    type    = string
    default = "/nfs"
}

variable "nextcloud_pgid" {
    type    = number
    default = "2000"
}

variable "nextcloud_puid" {
    type    = number
    default = "2000"
}

variable "nextcloud_version" {
    type    = string
    default = "latest"
}

##### OPENVPN #####

variable "config_host_path" {
    type    = string
    default = "/docker/openvpn/data"
}

variable "container_name" {
    type    = string
    default = "openvpn"
}

variable "dns_ip" {
    type    = string
    default = "10.0.0.1"
}

variable "external_port" {
    type    = number
    default = "1194"
}

variable "openvpn_version" {
    type    = number
    default = "2.4"
}

variable "site_name" {
    type    = string
    default = "example.com"
}

##### PLEX #####

variable "plex_config_host_path" {
    type    = string
    default = "/path/to/library"
}

variable "plex_container_name" {
    type    = string
    default = "plex"
}

variable "plex_media_host_path" {
    type    = string
    default = "/path/to/media"
}

variable "plex_pgid" {
    type    = number
    default = 1000
}

variable "plex_puid" {
    type    = number
    default = 1000
}

variable "plex_version" {
    type    = string
    default = "latest"
}

##### POSTGRES-GRAFANA #####

variable "postgres_grafana_container_name" {
    type    = string
    default = "some-postgres"
}

variable "postgres_grafana_data_host_path" {
    type    = string
    default = "/my/own/datadir"
}

variable "postgres_grafana_external_port" {
    type    = number
    default = 23004
}

variable "postgres_grafana_db" {
    type    = string
    default = "postgres"
}

variable "postgres_grafana_password" {
    sensitive = true
    type      = string
    default   = "mysecretpassword"
}

variable "postgres_grafana_user" {
    type    = string
    default = "postgres"
}

variable "postgres_grafana_version" {
    type    = string
    default = "latest"
}

##### POSTGRES-NEXTCLOUD #####

variable "postgres_nextcloud_container_name" {
    type    = string
    default = "postgres-nextcloud"
}

variable "postgres_nextcloud_data_host_path" {
    type    = string
    default = "/nextcloud/postgres/data"
}

variable "postgres_nextcloud_external_port" {
    type    = number
    default = 3008
}

variable "postgres_nextcloud_db" {
    type    = string
    default = "nextcloud"
}

variable "postgres_nextcloud_password" {
    sensitive = true
    type      = string
    default   = "super-secret-password"
}

variable "postgres_nextcloud_user" {
    type    = string
    default = "nextcloud"
}

variable "postgres_nextcloud_version" {
    type    = string
    default = "latest"
}

##### SICKGEAR #####

variable "sickgear_config_host_path" {
    type    = string
    default = "/path/to/data"
}

variable "sickgear_container_name" {
    type    = string
    default = "sickgear"
}

variable "sickgear_downloads_host_path" {
    type    = string
    default = "/path/to/data"
}

variable "sickgear_external_port" {
    type    = number
    default = 8081
}

variable "sickgear_pgid" {
    type    = number
    default = 1000
}

variable "sickgear_puid" {
    type    = number
    default = 1000
}

variable "sickgear_tv_host_path" {
    type    = string
    default = "/path/to/data"
}

variable "sickgear_version" {
    type    = string
    default = "latest"
}

##### SWAG #####

variable "swag_config_host_path" {
    type    = string
    default = "/docker/swag/config"
}

variable "swag_container_name" {
    type    = string
    default = "swag"
}

variable "swag_dnsplugin" {
    type    = string
    default = "cloudflare"
}

variable "swag_external_port" {
    type    = number
    default = "443"
}

variable "swag_pgid" {
    type    = number
    default = "2000"
}

variable "swag_puid" {
    type    = number
    default = "2000"
}

variable "swag_subdomains" {
    type    = string
    default = "nextcloud"
}

variable "swag_upstream_app" {
    sensitive = true
    type      = string
    default   = "192.168.1.101"
}

# Using the variable from Nextcloud
#variable "swag_upstream_port" {
#    type    = number
#    default = "8888"
#}

variable "swag_upstream_proto" {
    type    = string
    default = "https"
}

variable "swag_url" {
    sensitive = true
    type      = string
    default   = "example.com"
}

variable "swag_validation" {
    type    = string
    default = "dns"
}

variable "swag_version" {
    type    = string
    default = "latest"
}

##### TAUTULLI #####

variable "tautulli_config_host_path" {
    type    = string
    default = "/path/to/appdata/config"
}

variable "tautulli_container_name" {
    type    = string
    default = "tautulli"
}

variable "tautulli_external_port" {
    type    = number
    default = 8181
}

variable "tautulli_pgid" {
    type    = number
    default = 1000
}

variable "tautulli_puid" {
    type    = number
    default = 1000
}

variable "tautulli_version" {
    type    = string
    default = "latest"
}
