INSTALL_WEB_INTERFACE=true
WEBPASSWORD=${webpassword}
PIHOLE_INTERFACE=eth0
DNSMASQ_LISTENING=all
QUERY_LOGGING=true
BLOCKING_ENABLED=true
DNS_FQDN_REQUIRED=false
DNS_BOGUS_PRIV=true
DNSSEC=true
REV_SERVER=true
REV_SERVER_CIDR=${rev_server_cidr}
REV_SERVER_TARGET=${rev_server_target}
REV_SERVER_DOMAIN=${rev_server_domain}
TEMPERATUREUNIT=F
WEBUIBOXEDLAYOUT=boxed
WEBTHEME=lcars
PIHOLE_DNS_1=${dns_1}
PIHOLE_DNS_2=${dns_2}
PIHOLE_DNS_3=${dns_3}
PIHOLE_DNS_4=${dns_4}
