<?php
/*
 * Dokuwiki's Main Configuration File - Local Settings
 */

$conf['disableactions'] = 'register';
$conf['license'] = '0';
$conf['savedir'] = '/app/www/public/data';
$conf['superuser'] = '@admin';
$conf['template'] = '${template}';
$conf['title'] = '${title}';
$conf['updatecheck'] = 0;
$conf['useacl'] = 1;
$conf['userewrite'] = '1';
$conf['useslash'] = 1;
